#Novedades {
  background-color: #E8DDB5;
}
#Novedades h3 {
  grid-area: h3;
  font-family: "Cormorant Garamond", serif;
  font-family: "Encode Sans SC", sans-serif;
  font-family: "Uchen", serif;
  font-size: 4pc;
}
#Novedades h4 {
  grid-area: h4;
  font-size: 2pc;
  justify-items: center;
  text-align: center;
}
#Novedades img {
  grid-area: img;
  margin: 1pc 0pc;
}
#Novedades p {
  grid-area: p;
  font-size: 1.1pc;
  text-align: justify;
  padding-right: 1pc;
}
#Novedades .gridNovedades {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "img h3" "img h4" "img p";
  align-items: center;
  justify-items: center;
}
@media screen and (min-width: 340px) and (max-width: 540px) {
  #Novedades .gridNovedades {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "h3 h3" "h4 h4" "img p";
    align-items: center;
    justify-items: center;
  }
  #Novedades .gridNovedades h3 {
    font-size: 2pc;
    justify-items: center;
  }
  #Novedades .gridNovedades h4 {
    font-size: 1pc;
    justify-items: center;
  }
  #Novedades .gridNovedades img {
    width: 80%;
    height: auto;
  }
  #Novedades p {
    font-size: 0.8pc;
    padding-right: 1pc;
    width: 90%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #Novedades h3 {
    grid-area: h3;
    font-size: 3pc;
  }
  #Novedades h4 {
    font-size: 1pc;
    justify-items: center;
    text-align: center;
  }
  #Novedades img {
    grid-area: img;
    width: 50%;
    height: auto;
    margin-left: 4pc;
  }
  #Novedades p {
    grid-area: p;
    font-size: 0.8pc;
    text-align: justify;
    padding-right: 1pc;
    padding-left: 3pc;
    width: 90%;
  }
  #Novedades .gridNovedades {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "h3 h3" "img h4" "img p";
    align-items: center;
    justify-items: center;
  }
}
@media screen and (min-width: 541px) and (max-width: 768px) {
  #Novedades h3 {
    grid-area: h3;
    font-size: 1pc;
  }
  #Novedades h4 {
    font-size: 1pc;
    justify-items: center;
    text-align: center;
  }
  #Novedades img {
    grid-area: img;
    width: 70%;
    height: auto;
    margin-left: 4pc;
  }
  #Novedades p {
    grid-area: p;
    font-size: 0.8pc;
    text-align: justify;
    padding-right: 1pc;
    padding-left: 3pc;
    width: 90%;
  }
  #Novedades .gridNovedades {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "h3 h3" "img h4" "img p";
    align-items: center;
    justify-items: center;
  }
}
@media screen and (min-width: 360px) and (max-width: 375px) {
  #Novedades h3 {
    grid-area: h3;
    font-size: 0.1pc;
    width: 100%;
    text-align: center;
  }
  #Novedades h4 {
    font-size: 1pc;
    justify-items: center;
    text-align: center;
  }
  #Novedades img {
    grid-area: img;
    width: 70%;
    height: auto;
    margin-left: 2pc;
  }
  #Novedades p {
    grid-area: p;
    font-size: 0.8pc;
    text-align: justify;
    padding-right: 1pc;
    padding-left: 1pc;
    width: 90%;
  }
  #Novedades .gridNovedades {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "h3 h3" "h4 h4" "img p";
    align-items: center;
    justify-items: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  #Novedades h3 {
    grid-area: h3;
    font-size: 1.5pc;
    width: 100%;
    text-align: center;
  }
  #Novedades h4 {
    font-size: 1pc;
    justify-items: center;
    text-align: center;
  }
  #Novedades img {
    grid-area: img;
    width: 70%;
    height: auto;
    margin-left: 2pc;
  }
  #Novedades p {
    grid-area: p;
    font-size: 0.8pc;
    text-align: justify;
    padding-right: 1pc;
    padding-left: 1pc;
    width: 90%;
  }
  #Novedades .gridNovedades {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "h3 h3" "h4 h4" "img p";
    align-items: center;
    justify-items: center;
  }
}

.enlacesVenta {
  background-color: #788AA3;
  height: 7pc;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.enlacesVenta .Enlace {
  height: 2pc;
  justify-content: center;
  align-content: center;
  transition: all 1s ease-in-out;
}
.enlacesVenta .Enlace:hover {
  background-color: lightgray;
  text-decoration: none;
  transform: scale(3);
}
.enlacesVenta .Enlace a {
  font-family: "MedievalSharp", cursive;
  font-family: "Roboto Mono", monospace;
  color: white;
  text-decoration: none;
}
.enlacesVenta .Enlace a:hover {
  color: black;
  transform: scale(3);
}
@media screen and (min-width: 340px) and (max-width: 540px) {
  .enlacesVenta {
    height: 7pc;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .enlacesVenta .Enlace {
    height: 2pc;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (min-width: 541px) and (max-width: 768px) {
  .enlacesVenta {
    margin: 2pc;
    height: 3pc;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .enlacesVenta .Enlace {
    height: 2pc;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  .enlacesVenta {
    height: 8pc;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .enlacesVenta .Enlace {
    height: 2pc;
    justify-content: center;
    align-content: center;
  }
}

.formularioCompra {
  display: grid;
  grid-template-areas: "formulario" "subTituloCompra" "mapa";
  grid-template-rows: 5pc 5pc 5pc;
  grid-template-columns: 100pc;
  margin: 1pc 3pc;
  align-content: space-around;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.formularioCompra h3 {
  text-align: center;
  padding-bottom: 0.25pc;
  border-bottom: 0.2pc solid #fbff22;
}
.formularioCompra #formulario {
  grid-area: formulario;
}
.formularioCompra #subTituloCompra {
  grid-area: subTituloCompra;
}
.formularioCompra #mapa {
  grid-area: mapa;
}

.carousel-item {
  background-color: #B2C9AB;
}
.carousel-item .d2-flex {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 75%;
  text-align: justify;
}
.carousel-item .d2-flex h5 {
  font-size: 1.5pc;
  text-align: center;
}
.carousel-item .d2-flex h6 {
  font-size: 1pc;
  text-align: center;
}
.carousel-item .d2-flex p {
  font-size: 0.8pc;
}
@media screen and (min-width: 1025px) and (max-width: 1359px) {
  .carousel-item .d2-flex {
    display: block;
    position: relative;
    width: 100%;
    left: -7%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .carousel-item .d2-flex {
    display: block;
    position: relative;
    width: 100%;
    left: -5%;
    padding-right: 3pc;
  }
}
@media screen and (min-width: 541px) and (max-width: 768px) {
  .carousel-item .d2-flex {
    display: block;
    position: relative;
    width: 100%;
    left: -10%;
    padding-top: 3%;
  }
  .carousel-item .d2-flex h5 {
    font-size: 1.25pc;
  }
}
@media screen and (min-width: 415px) and (max-width: 540px) {
  .carousel-item .d2-flex {
    display: block;
    position: relative;
    width: 100%;
    left: -10%;
  }
}
@media screen and (min-width: 411px) and (max-width: 414px) {
  .carousel-item .d2-flex {
    display: block;
    position: relative;
    width: 100%;
    left: -10%;
  }
  .carousel-item .d2-flex h5 {
    font-size: 100%;
  }
  .carousel-item .d2-flex h6 {
    font-size: 80%;
  }
  .carousel-item .d2-flex p {
    font-size: 0.7pc;
  }
}
@media screen and (min-width: 360px) and (max-width: 375px) {
  .carousel-item .d2-flex {
    display: block;
    position: relative;
    width: 100%;
    left: -10%;
    padding: 0%;
  }
  .carousel-item .d2-flex h5 {
    font-size: 100%;
  }
  .carousel-item .d2-flex h6 {
    font-size: 80%;
  }
  .carousel-item .d2-flex p {
    font-size: 0.7pc;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  .carousel-item .d2-flex {
    display: block;
    position: relative;
    width: 120%;
    left: -30%;
    padding-left: 0.5pc;
  }
  .carousel-item .d2-flex h5 {
    font-size: 100%;
  }
  .carousel-item .d2-flex h6 {
    font-size: 80%;
  }
  .carousel-item .d2-flex p {
    font-size: 0.7pc;
  }
}
@media screen and (min-width: 1360px) {
  .carousel-item .text-light2 {
    padding-right: 15%;
    text-align: justify;
    color: black;
  }
}
@media screen and (min-width: 541px) and (max-width: 1359px) {
  .carousel-item .text-light2 {
    display: block;
    width: 100%;
    text-align: justify;
    color: black;
  }
}
@media screen and (min-width: 415px) and (max-width: 540px) {
  .carousel-item .text-light2 {
    width: 100%;
    color: black;
    text-align: justify;
    font-size: 0.9pc;
    padding-right: 3pc;
    padding-left: -2pc;
  }
}
@media screen and (min-width: 411px) and (max-width: 414px) {
  .carousel-item .text-light2 {
    width: 100%;
    color: black;
    text-align: justify;
    padding-right: 1pc;
  }
}
@media screen and (min-width: 360px) and (max-width: 375px) {
  .carousel-item .text-light2 {
    width: 100%;
    color: black;
    text-align: justify;
    padding-right: 0.3pc;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  .carousel-item .text-light2 {
    width: 100%;
    color: black;
    text-align: justify;
  }
}
.carousel-item .d-flex {
  float: left;
  margin-left: 10%;
  padding: 2% 0%;
}
@media screen and (min-width: 541px) and (max-width: 768px) {
  .carousel-item .d-flex {
    display: block;
    position: relative;
    width: 40%;
    height: auto;
    left: -5%;
  }
}
@media screen and (min-width: 340px) and (max-width: 540px) {
  .carousel-item .d-flex {
    display: block;
    position: relative;
    width: 30%;
    height: auto;
    left: -5%;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  .carousel-item .d-flex {
    display: block;
    position: relative;
    width: 60%;
    height: auto;
    left: -5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .carousel-item .d-flex img {
    display: block;
    position: relative;
    width: 40%;
    height: auto;
    left: 15%;
    margin-top: 1pc;
  }
}
@media screen and (min-width: 541px) and (max-width: 768px) {
  .carousel-item .d-flex img {
    display: block;
    position: relative;
    width: 40%;
    height: auto;
    left: 15%;
    margin-top: 1pc;
  }
}
@media screen and (min-width: 415px) and (max-width: 540px) {
  .carousel-item .d-flex img {
    display: block;
    position: relative;
    width: 40%;
    height: auto;
    left: 20%;
    margin-top: 4pc;
  }
}
@media screen and (min-width: 411px) and (max-width: 414px) {
  .carousel-item .d-flex img {
    display: block;
    position: relative;
    width: 40%;
    height: auto;
    left: 25%;
    margin-top: 3.5pc;
  }
}
@media screen and (min-width: 360px) and (max-width: 375px) {
  .carousel-item .d-flex img {
    display: block;
    position: relative;
    width: 50%;
    height: auto;
    left: 25%;
    margin-top: 3.5pc;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  .carousel-item .d-flex img {
    display: block;
    position: relative;
    width: 35%;
    height: auto;
    left: 15%;
    margin-top: 3.5pc;
  }
}

.text-light2, .enlacesVenta .compraAmazon a, .enlacesVenta .compraBD a, #Contacto form label,
.enlacesVenta .compraML a, .enlacesVenta .compraOtros a, body, .gridBio p, .Titulo {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

body header {
  display: initial;
  text-align: center;
}
body .navbar {
  color: #864f4b;
}
@media screen and (min-width: 340px) and (max-width: 540px) {
  body .navbar {
    height: 2pc;
  }
  body .navbar .container-fluid {
    height: 1pc;
  }
}
@media screen and (min-width: 541px) and (max-width: 768px) {
  body .navbar {
    height: 2.5pc;
  }
  body .navbar .container-fluid {
    height: 5pc;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  body .navbar {
    height: 2.5pc;
  }
  body .navbar .container-fluid {
    height: 5pc;
  }
}
body #navbarNavDropdown ul {
  justify-content: center;
}
body .sPortada {
  background-image: url("../images/background3.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "autor" "escritor";
  height: 18pc;
}
body .sPortada h1 {
  grid-area: autor;
  font-family: "Abril Fatface", cursive;
  color: lightgray;
  float: left;
  font-size: 4pc;
  margin: 1pc;
}
body .sPortada h2 {
  grid-area: escritor;
  font-family: "Abril Fatface", cursive;
  font-family: "MonteCarlo", cursive;
  color: lightgray;
  float: right;
  font-size: 8pc;
  margin: 0pc 0pc 5pc 63pc;
}
@media screen and (min-width: 1025px) and (max-width: 1360px) {
  body .sPortada h1 {
    margin: 1pc;
  }
  body .sPortada h2 {
    margin: 7pc 2pc 0pc 0pc;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body .sPortada {
    height: 10pc;
    background-size: cover;
  }
  body .sPortada h1 {
    margin: 1pc;
    font-size: 2pc;
  }
  body .sPortada h2 {
    margin: 1pc 2pc 0pc 55pc;
    font-size: 3pc;
  }
}
@media screen and (min-width: 541px) and (max-width: 768px) {
  body .sPortada {
    height: 8pc;
  }
  body .sPortada h1 {
    font-size: 1.5pc;
    padding-left: 1pc;
  }
  body .sPortada h2 {
    font-size: 2pc;
    margin: 1pc 1pc 2pc 42pc;
  }
}
@media screen and (min-width: 415px) and (max-width: 540px) {
  body .sPortada {
    height: 9pc;
  }
  body .sPortada h1 {
    font-size: 2pc;
    margin: 0pc 4pc 0pc 1pc;
  }
  body .sPortada h2 {
    font-size: 3pc;
    margin: 3pc 1pc 7pc 25pc;
  }
}
@media screen and (min-width: 411px) and (max-width: 414px) {
  body .sPortada {
    height: 9pc;
  }
  body .sPortada h1 {
    font-size: 2pc;
    margin: 0pc 4pc 0pc 1pc;
  }
  body .sPortada h2 {
    font-size: 3pc;
    margin: 3pc 1pc 7pc 17pc;
  }
}
@media screen and (min-width: 360px) and (max-width: 375px) {
  body .sPortada {
    height: 9pc;
  }
  body .sPortada h1 {
    font-size: 1.5pc;
    margin: 0pc 4pc 0pc 1pc;
  }
  body .sPortada h2 {
    font-size: 3pc;
    margin: 4pc 1pc 7pc 14pc;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  body .sPortada {
    height: 9pc;
  }
  body .sPortada h1 {
    font-size: 1.5pc;
    margin: 0pc 4pc 0pc 1pc;
  }
  body .sPortada h2 {
    font-size: 3pc;
    margin: 4pc 1pc 7pc 12pc;
  }
}
body .Titulo {
  font-family: "Encode Sans SC", sans-serif;
  font-family: "Uchen", serif;
  text-align: center;
  color: black;
}
body #Obras .Titulo {
  background-color: #B2C9AB;
}
body #Biografia .Titulo {
  background-color: #92B6B1;
}
body .gridBio {
  background-color: #92B6B1;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-areas: "tbi tbp";
  align-items: center;
}
body .gridBio p {
  grid-area: tbp;
  font-family: "MedievalSharp", cursive;
  font-family: "Roboto Mono", monospace;
  margin-left: 1pc;
  margin-right: 1pc;
  text-align: justify;
}
body .gridBio img {
  grid-area: tbi;
  margin-top: 0.5pc;
  margin-left: 0.5pc;
  margin-bottom: 0.5pc;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body .gridBio img {
    height: auto;
    width: 80%;
  }
}
@media screen and (min-width: 540px) and (max-width: 767px) {
  body .gridBio img {
    height: auto;
    width: 20%;
  }
}
@media screen and (min-width: 411px) and (max-width: 414px) {
  body .gridBio img {
    height: auto;
    width: 20%;
  }
}
@media screen and (min-width: 360px) and (max-width: 375px) {
  body .gridBio img {
    height: auto;
    width: 30%;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  body .gridBio img {
    height: auto;
    width: 30%;
  }
}
@media screen and (min-width: 540px) and (max-width: 767px) {
  body .gridBio {
    display: flex;
  }
  body .gridBio p {
    text-align: start;
    font-size: 0.75pc;
  }
}
@media screen and (min-width: 411px) and (max-width: 414px) {
  body .gridBio {
    display: flex;
  }
  body .gridBio p {
    text-align: start;
    font-size: 0.75pc;
  }
}
@media screen and (min-width: 360px) and (max-width: 375px) {
  body .gridBio {
    display: flex;
  }
  body .gridBio p {
    text-align: start;
    font-size: 0.75pc;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  body .gridBio {
    display: flex;
  }
  body .gridBio p {
    text-align: start;
    font-size: 0.75pc;
  }
}
body #Compra .Titulo {
  background-color: #788AA3;
}
body #Contacto {
  background-color: #666A86;
  text-align: center;
}
body #Contacto .Titulo {
  background-color: #666A86;
}
body footer {
  background-color: grey;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
