$align: center;

@import 'sections/Novedades';
@import 'sections/enlacesVenta';
@import 'sections/formularioCompra';
@import 'slider';
@import 'mixins';

*{
    margin:0;
    padding: 0;
}

body{

    header{
        display: initial;
        text-align: $align;
    }

    .navbar{
        color: rgb(134, 79, 75);

        @media screen and (min-width: 340px) and (max-width: 540px){
            height: 2pc;
            .container-fluid{
                height: 1pc;
            }
        }

        @media screen and (min-width: 541px) and (max-width: 768px){
            height: 2.5pc;
            .container-fluid{
                height: 5pc;
            }
        }
        
        @media screen and (min-width: 320px) and (max-width: 359px){    
            height: 2.5pc;
            .container-fluid{
                height: 5pc;
            }
        }
    }
    #navbarNavDropdown ul{
        justify-content: $align;
    }

    .sPortada{

        background-image: url("../images/background3.jpg");
        background-size: cover;
        width: 100%;
        height: 18pc;
        .left{
            width: 49%;
            display: inline-block;
        }
        .right{
            text-align: right;
        }

        h1{
            font-family: 'Abril Fatface', cursive;
            color: lightgray;
            font-size: 5pc;
            margin-left: 2pc;
        }

        h2{
            font-family: 'Abril Fatface', cursive;
            font-family: 'MonteCarlo', cursive;
            color: lightgray;
            font-size: 5pc;
            margin-right: 2pc;
        }
    }

    .Titulo{
        font-family: 'Encode Sans SC', sans-serif;
        font-family: 'Uchen', serif;
        text-align: $align;
        color: black;
    }

    #Obras .Titulo{
        background-color:#B2C9AB ;
    }

    #Biografia .Titulo{
        background-color:#92B6B1 ;
    }

    .gridBio{
        
        background-color: #92B6B1;
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-areas: 
            "tbi tbp";
        align-items: $align;

        p{
            grid-area: tbp;
            font-family: 'MedievalSharp', cursive;
            font-family: 'Roboto Mono', monospace;
            margin-left: 1pc;
            margin-right: 1pc;
            text-align: justify;
        }

        img{
            grid-area: tbi;
            margin-top: 0.5pc;
            margin-left: 0.5pc;
            margin-bottom: 0.5pc;


            @media screen and (min-width: 769px) and (max-width: 1024px){
                height: auto;
                width: 80%;
            }
            @media screen and (min-width: 540px) and (max-width: 767px){
                height: auto;
                width: 20%;
            }

            @media screen and (min-width: 411px) and (max-width: 414px){
                height: auto;
                width: 20%;
            }
            
            @media screen and (min-width: 360px) and (max-width: 375px){
                height: auto;
                width: 30%;
            }

            @media screen and (min-width: 320px) and (max-width: 359px){   
                height: auto;
                width: 30%;
            }
        }
        
        @media screen and (min-width: 540px) and (max-width: 767px){
            display: flex;
            p{
                text-align:start;
                font-size: 0.75pc;
            }
        }

        @media screen and (min-width: 411px) and (max-width: 414px){
            display: flex;
            p{
                text-align:start;
                font-size: 0.75pc;
            }
        }
        
        @media screen and (min-width: 360px) and (max-width: 375px){
            display: flex;
            p{
                text-align:start;
                font-size: 0.75pc;
            }
        }

        @media screen and (min-width: 320px) and (max-width: 359px){   
            display: flex;
            p{
                text-align:start;
                font-size: 0.75pc;
            }
        } 
    }

    #Compra .Titulo{
        background-color: #788AA3;
    }

    #Contacto{
        .Titulo{
            background-color: #666A86;
        }

        background-color: #666A86;
        text-align: $align;
        
    }

    footer{
        background-color:grey;
        text-align: $align;
    }
}
