#Novedades{

    background-color: #E8DDB5;
    h3{
        grid-area: h3;
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Encode Sans SC', sans-serif;
        font-family: 'Uchen', serif;
        font-size: 4pc;
    }

    h4{
        grid-area:h4;
        font-size: 2pc;
        justify-items: $align;
        text-align: $align;
    }

    img{
        grid-area: img;
        margin: 1pc 0pc;
    }
    
    p{
        grid-area: p;
        font-size: 1.1pc;
        text-align: justify;
        padding-right: 1pc;
    }

    .gridNovedades{
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas: 
            "img h3"
            "img h4"
            "img p";
        align-items: $align;
        justify-items: $align;
    }
    
    @media screen and (min-width: 340px) and (max-width: 540px){
        .gridNovedades{
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-areas: 
                "h3 h3"
                "h4 h4"
                "img p";
            align-items: $align;
            justify-items: $align;

            h3{
                font-size: 2pc;
                justify-items:center;
            }
    
            h4{
                font-size: 1pc;
                justify-items:center;
            }

            img{
                width: 80%;
                height:auto;
            }
        }
        
        p{
            font-size: 0.8pc;
            padding-right: 1pc;
            width: 90%;
        }
    }

    @media screen and (min-width: 769px) and (max-width: 1024px){
        h3{
            grid-area: h3;
            font-size: 3pc;
        }

        h4{
            font-size: 1pc;
            justify-items: $align;
            text-align: $align;
        }
    
        img{
            grid-area: img;
            width: 50%;
            height:auto;
            margin-left: 4pc;
        }
        
        p{
            grid-area: p;
            font-size: 0.8pc;
            text-align: justify;
            padding-right: 1pc;
            padding-left: 3pc;
            width: 90%;
        }
    
        .gridNovedades{
            display: grid;
            grid-template-columns: 1fr 5fr;
            grid-template-areas: 
                "h3 h3"
                "img h4"
                "img p";
            align-items: $align;
            justify-items: $align;
        }
    }

    @media screen and (min-width: 541px) and (max-width: 768px){
        h3{
            grid-area: h3;
            font-size: 1pc;
        }

        h4{
            font-size: 1pc;
            justify-items: $align;
            text-align: $align;
        }
    
        img{
            grid-area: img;
            width: 70%;
            height:auto;
            margin-left: 4pc;
        }
        
        p{
            grid-area: p;
            font-size: 0.8pc;
            text-align: justify;
            padding-right: 1pc;
            padding-left: 3pc;
            width: 90%;
        }
    
        .gridNovedades{
            display: grid;
            grid-template-columns: 1fr 5fr;
            grid-template-areas: 
                "h3 h3"
                "img h4"
                "img p";
            align-items: $align;
            justify-items: $align;
        }
    
    }

    
}