.enlacesVenta{

    background-color: #788AA3;
        height: 7pc;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: $align;

        .Enlace{
            height: 2pc;
            justify-content: $align;
            align-content: $align;
            transition: all 1s ease-in-out;

            &:hover{
                background-color: lightgray;
                text-decoration: none;
                transform: scale(3);
            }

            a{
                font-family: 'MedievalSharp', cursive;
                font-family: 'Roboto Mono', monospace;
                color: white;
                text-decoration: none;

                &:hover{
                    color: black;
                    transform: scale(3);
                }
            }
        }

        @media screen and (min-width: 340px) and (max-width: 540px){
            height: 7pc;
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: $align;

            .Enlace{
                height: 2pc;
                justify-content: $align;
                align-content: $align;
            }

        }    

        @media screen and (min-width: 541px) and (max-width: 768px){
            margin: 2pc;
            height: 3pc;
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: $align;

            .Enlace{
                height: 2pc;
                justify-content: $align;
                align-content: $align;
            }

        }
}